<hr>

<div class="container footerWrap">
	<footer>
			<div class="row">
			<div class="col-lg-3">
				<p>&copy; Kaustubh Singh 2015</p>
			</div>
			<div class="col-lg-3">
				<a href="/help" style="color: #74AFAD"><i class="fa fa-question-circle"></i>  Help</a>
			</div>
			<div class="col-lg-3">
				<a href="/contact" style="color: #74AFAD"><i class="fa fa-envelope"></i>  Contact</a>
			</div>
			<div class="col-lg-3">
				<a href="https://github.com/kaustubhsingh/bontags" style="color: #74AFAD">
					<i class="fa fa-github"></i>  Github</a>
			</div>
		</div>
	  </footer>
</div>
