<hr>
	  
<div class="container footerWrap">
	<footer>
			<div class="row">
			<div class="col-lg-3">
				<p>&copy; Kaustubh Singh 2015</p>
			</div>
			<div class="col-lg-3">
				<a href="/contact" style="color: #74AFAD">Contact</a>
			</div>
			<div class="col-lg-3">
				<a href="/" style="color: #74AFAD"></a>
			</div>
			<div class="col-lg-3">
				<a href="/" style="color: #74AFAD"></a>
			</div>
		</div>
	  </footer>
</div>
