<hr>

<div class="container footerWrap">
	<footer class="footer">
			<div class="row">
			<div class="text-muted" class="col-md-4">
				<p>&copy; Kaustubh Singh 2015</p>
			</div>
			<div class="text-muted" class="col-md-4">
				<a href="/contact" style="color: #558C89"><i class="fa fa-envelope"></i>  Contact</a>
			</div>
			<div class="col-md-4">
				<a href="https://github.com/kaustubhsingh/bontags" style="color: #558C89">
					<i class="fa fa-github"></i>  Github</a>
			</div>
		</div>
	  </footer>
</div>
