	  <hr>
	  
      <div class="container footerWrap">
		  <footer>
			<div class="row">
				<div class="col-lg-3">
					<p>&copy; BonTags, Inc. 2015</p>
				</div>
				<div class="col-lg-3">
					<a href="/" style="color: #74AFAD">About</a>
				</div>
				<div class="col-lg-3">
					<a href="/" style="color: #74AFAD">FAQ</a>
				</div>
				<div class="col-lg-3">
					<a href="/" style="color: #74AFAD">Contact</a>
				</div>
			</div>
		  </footer>
      </div>
