
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
			<div>
			  <ul class="nav navbar-nav nav-pills">
				<li role="presentation"><a href="/" style="color: white"><i class="fa fa-home"></i> Home</a></li>
				<li role="presentation"><a href="/help" style="color: white"><i class="fa fa-question-circle"></i> Help</a></li>
			  </ul>
			</div>
        </div>
        
      </div>
    </nav>

