<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>TagZest</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    
    
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

 
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TagZest</a>
        </div>
        
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
	
        <h1>Easiest way to test web tags!</h1>
        <p></p>
      </div>
    </div>

	<br><br><br><br>
    <div class="container">
		
			<FORM action="/result" method="get" class="form">
			        <div class="form-group">	
						<!-- <label class="control-label col-sm-4" for="landingpages">What landing pages do you want to test?</label> -->
						<textarea class=" col-sm-offset-2 col-sm-8" cols="40" rows="5" name="landingpages" id="landingpages" class="form-control" placeholder="Enter the landing pages you want to test"></textarea><br>
						
						<br><br><br><br><br><br>
                     </div>   
 			        <div class="form-group">	
						<!-- <label class="control-label col-sm-4" for="keywords">What keywords do you want to test?</label> -->
						<input class="col-sm-offset-2 col-sm-4" type="text" name="keywords" id="keywords" class="form-control" placeholder="Enter the keywords you want to test for"/>
						<br><br><br>
                     </div>  
                     
                     <div class="form-group">
                     <div class="col-sm-offset-2 col-sm-4" >
						 <button type="submit" class="btn btn-primary btn-block">Submit</button>
					 </div>    
					 </div>          
			</FORM>	

      
    </div> <!-- /container -->


	  <br><br>
	  <hr>
	  
      <div class="container footerWrap">
		  <footer>
			<div class="row">
				<div class="col-lg-3">
					<p>&copy; TagTest, Inc. 2015</p>
				</div>
				<div class="col-lg-3">
					<a href="/" style="color: #74AFAD">About</a>
				</div>
				<div class="col-lg-3">
					<a href="/" style="color: #74AFAD">FAQ</a>
				</div>
				<div class="col-lg-3">
					<a href="/" style="color: #74AFAD">Contact</a>
				</div>
			</div>
		  </footer>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
   </body>
</html>
