body 			{ padding-top:50px; }
.jumbotron { color: white;
			 background-color: #74AFAD;
			 border-color: #74AFAD;
		   } 
		   
.jumbotron h1 {   font-weight: bold; font-size: 1000%;}
.jumbotron h3 {   font-size: 300%;}

.btn { color: white; background-color: #74AFAD; border-color: #74AFAD}

.navbar { background-color: white; border-color: white }

.container .footerWrap { color: #74AFAD}

.blocks-hieght {
   min-height:100px;
}

