<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
    
        <div class="jumbotron">
          <div class="container" align="center">
        
            <h1>contact</h1>
            
          </div>
        </div>
    
        <br><br><br><br>
     
        <div>	
            <div id="contacts">
                <div class="row">	     
                    <div class="col-sm-offset-2 col-sm-8">
                    
                        <form name="contactform" id="contactform" action="/emailsubmitted" >
                            <div>
                                <input type="text" class="form-control" 
                                                    placeholder="Full Name" id="name" required />
                            </div> 	<br>
                            <div>
                                <input type="email" class="form-control" placeholder="Email" 
                                             id="email" required />
                            </div> 	<br>
                              
                            <div>
                                <textarea rows="10" cols="100" class="form-control" 
                                           placeholder="Message" id="message" required
                                              style="resize:none"></textarea>
                            </div> <br>

                            <button type="submit" id = "submit" class="btn btn-primary btn-block">Send</button><br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <br><br>
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
