<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>

  <body>

	<header>
		<% include ../partials/header %>
	</header>

    <div class="jumbotron">
      <div class="container" align="center">
	
        <h1><i class="fa fa-envelope" style="color:#F79F79"></i> contact</h1>
        
      </div>
    </div>

	<br><br><br><br>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6" style="color: #D9853B">
            <h3 class = "text-center"><b>Thanks for your message. I'll be in touch soon!</b></h3>
        </div>
    </div>


	<br><br>

	<% include ../partials/footer %>
	
   </body>
</html>
