<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>

  <body>

	<header>
		<% include ../partials/header %>
	</header>

    <div class="jumbotron">
      <div class="container" align="center">
	
        <h1><i class="fa fa-question-circle" style="color:#D9853B"></i> help</h1>
        
      </div>
    </div>

	<br><br><br><br>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            
            <h4><b>How does bontags work?</b></h4>
            <p>bontags works by downloading the hyper text of landing pages and then
            searching it for the keyword string.  The keyword can be some unique string
            appearing in your tags.</p><br>
            
            <h4><b>How do I set the keyword?</b></h4>
            <p>Let's suppose you wanted to test ralphs.com and a bunch of other landing
            pages for the following doubleclick floodlight tags.<br>
            <br>
            <code>'https://1817628.fls.doubleclick.net/activityi;src=1817628;type=' +
            'alldi391' +';cat=' + 'kroge703' +';u1=' +'Ralphs'+';ord=1;num=' + a + '?';</code>
            <br><br>
            You can use this full code line above as the keyword or some unique part of
            it that may suffice for validation purpose, for instance <code>u1=' +'Ralphs'+'</code>        
            </p><br>
            <h4><b>Are multi-keyword queries supported?</b></h4>
            <p>No.  You'll have to run the test one keyword at a time.</p>
        </div>
    </div>


	<br><br>
	<footer>
		<% include ../partials/footer %>
	</footer>
	
   </body>
</html>
