<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>

  <body>

	<header>
		<% include ../partials/header %>
	</header>

    <div class="jumbotron">
      <div class="container" align="center">
	
        <h1><i class="fa fa-question-circle" style="color:#D9853B"></i> help</h1>
        
      </div>
    </div>

	<br><br><br><br>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <p>bontags works by downloading the hyper text of landing pages and then
            searching it for the keyword string.</p>
        </div>
    </div>


	<br><br>
	<footer>
		<% include ../partials/footer %>
	</footer>
	
   </body>
</html>
