<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>

  <body>

	<header>
		<% include ../partials/header %>
	</header>

    <div class="jumbotron">
      <div class="container" align="center">
	
        <h1><b><i class="fa fa-tags"></i> bontags</b></h1><br>
        <h3>test tags in a breeze</h3>
        <p></p>
      </div>
    </div>

	<br><br><br><br>
    <div class="container">
		
			<FORM action="/report" method="get" class="form">
			        <div class="row" class="form-group">
						<div class="col-sm-offset-1 col-sm-10">	
							<!-- <label class="control-label col-sm-4" for="landingpages">What landing pages do you want to test?</label> -->
							<textarea cols="40" rows="5" name="landingpages" id="landingpages" class="form-control" placeholder="Enter the landing pages you want to test"></textarea>
						</div>
                     </div> 
                     
                     <br><br>  
 			        <div class="row" class="form-group">	
						<!-- <label class="control-label col-sm-4" for="keywords">What keywords do you want to test?</label> -->
						<div class="col-sm-offset-3 col-sm-6">
							<input type="text" name="keywords" id="keywords" class="form-control" placeholder="Enter the keywords you want to test for"/>
						</div>
                     </div>  
                     
                     <br><br>
                     <div class="row" class="form-group">
						 <div class="col-sm-offset-3 col-sm-6" >
							 <button type="submit" class="btn btn-primary btn-block">
									  <i class="fa fa-book"></i>   Generate Report</button>
						 </div>    
					 </div>          
			</FORM>	

      
    </div> <!-- /container -->


	<br><br>
	<footer>
		<% include ../partials/footer %>
	</footer>
	
   </body>
</html>
