<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>

  <body>

	<header>
		<% include ../partials/header %>
	</header>

    <div class="jumbotron">
      <div class="container" align="center">
	
        <h1>Report</h1>
        
      </div>
    </div>

	<br><br><br><br>
    <div class="container">
		<p> <%= landingpages %> </p>
		<p> <%= keywords %> </p>

      
    </div> <!-- /container -->


	<br><br>
	<footer>
		<% include ../partials/footer %>
	</footer>
	
   </body>
</html>
